@use "../styles/include-media.scss" as *;

.about {
  .title {
    padding-top: 0.5rem;
    text-align: center;

    h1 {
      font-size: 2.5rem;
      font-weight: 400;
    }

    @include media(">=tablet", "<smdesktop") {
      padding-bottom: 1rem;

      h1 {
        font-size: 3.3rem;
      }
    }

    @include media(">=smdesktop", "<=4k") {
      text-align: left;

      h1 {
        font-size: 3.2rem;
      }

    }

  }

  .content-container {
    display: grid;
    grid-template-columns: auto;
    padding: 0 0.5rem 0.5rem 0.5rem;

    .left-side {
      display: grid;
      // grid-template-columns: 13% 87%;
      grid-template-columns: auto auto;
      align-items: center;
      padding: 1rem 1rem 1rem 0;
      line-height: 1.4;
      word-spacing: 2px;

      h1 {
        align-items: center;
        padding: 2px 2px 2px 0;
      }

      p {
        display: flex;
        align-items: end;
        color: #008c8c;
        font-size: 1rem;
        padding: 0.5rem 0 0.5rem 0;
        text-align: justify;
      }

      @include media(">=tablet", "<smdesktop") {
        padding: 0 2rem;
      }
    }

    @include media(">=tablet", ">desktop") {
      grid-template-columns: 50% 50%;
      gap: 3rem;
      margin-top: 0.5rem;
      padding-left: 4rem;
      padding-right: 4rem;

      .left-side {
        grid-template-columns: 7% 93%;
        line-height: 1.3;
  
        p {
          font-size: 1.3rem;
          padding: 1.5rem 0 1.5rem 0;
        }
      }
    }

    @include media(">=desktop", ">=4k") {
      grid-template-columns: 50% 50%;
      margin-top: 0.5rem;
      padding-left: 6.5rem;
      padding-right: 6.5rem;

      .left-side {
        grid-template-columns: 7% 93%;
  
        p {
          font-size: 1.6rem;
          padding: 1.7rem 0 1.7rem 0;
        }
      }
    }
  }

  .right-side {
    text-align: center;

    p {
      color: #008c8c;
      font-size: 1.3rem;
    }

    .skills-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0.5rem;
      padding-top: 1rem;

      .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        transition: transform .5s;

        img {
          height: 3rem;
          width: 3rem;
          padding-top: 2px;
        }

        p {
          padding-top: 8px;
          font-size: 0.8rem;
        }

        @include media(">=tablet", "<=4k") {
          padding-bottom: 0.5rem;

          &:hover {
            -ms-transform: scale(1.1); /* IE 9 */
            -webkit-transform: scale(1.1); /* Safari 3-8 */
            transform: scale(1.1); 
          }

          img {
            height: 5rem;
            width: 5rem;
            padding-top: 2px;
          }

          p {
            padding-top: 1rem;
          }
        }
      }

      @include media(">=tablet", "<=4k") {
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
      }
    }

    @include media(">=tablet", ">desktop") {
      grid-row: span 2;
      padding: 2rem 1.5rem 1.5rem 1.5rem;
    }
  }
}