@use "../styles/include-media.scss" as *;

.about {
  .title {
    margin-top: 2rem;
    text-align: center;

    h1 {
      font-size: 2.5rem;
      font-weight: 400;
    }

    @include media(">=tablet", ">=desktop") {
      margin-left: 5rem;
      text-align: left;
      padding-bottom: 1rem;

      h1 {
        font-size: 3.3rem;
      }
    }

  }

  .content {
    ul {
      list-style-type: none;

      li {
        display: flex;
        padding: 0.3rem;

        h1 {
          align-items: center;
          padding: 2px;
        }

        p {
          color: #008c8c;
          font-size: 1.3rem;
          padding: 0.5rem;
          align-items: center;
          flex-wrap: wrap;
        }
      }
    }
  }

  .content-container {
    display: grid;
    grid-template-columns: auto;
    gap: 3rem;
    margin: 0.5rem 0.5rem;


    .content {
      display: grid;
      grid-template-columns: 10% 90%;
      align-items: center;
      padding: 1rem 1rem 1rem 0;

      h1 {
        align-items: center;
        padding: 2px 2px 2px 0;
      }

      p {
        display: flex;
        align-items: end;
        color: #008c8c;
        font-size: 1rem;
        padding: 0.8rem 0 0.8rem 0;
        text-align: justify;
      }
    }

    @include media(">=tablet", ">=desktop") {
      grid-template-columns: 50% 50%;
      margin: 0.5rem 5rem;

      .content {
        grid-template-columns: 7% 93%;
  
        p {
          font-size: 1.3rem;
          padding: 1rem 0 1rem 0;
        }
      }
    }

    .skills {
      padding: 1.6rem 1rem 1rem 0;

      p {
        padding: 1rem 0 1rem 0;
        font-size: 1.3rem;
        color: #008c8c;
        align-items: end;
      }
    }
  }
}