@use "../styles/include-media.scss" as *;

.contact {
  h1 {
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
  }

  .container {
    display: flex;
    color: #008c8c;
    justify-content: center;

    .left {
      p {
        padding: 2rem 1rem;
        text-align: center;
        font-size: 1.1rem;
      }

      span {
        display: flex;
        justify-content: center;

        a {
          display: flex;
          align-items: center;
          color: #008c8c;
          padding-bottom: 1rem;
          font-size: 1.2rem;
          text-decoration: none;
        }
      }
    }

    img {
      height: 0;
      width: 0;
    }
  }

  @include media(">=tablet", "<smdesktop") {
    .container {
      .left {
        p {
          font-size: 1.4rem;
        }

        span {
          padding-bottom: 1rem;
          
          a {
            font-size: 1.6rem;
          }
        }
      }
    }
  }

  @include media(">=smdesktop", "<=4k") {
    h1 {
      margin-left: 5rem;
      text-align: left;
      font-size: 3.3rem;
    }

    .container {
      .left {
        margin-top: 5rem;
        margin-left: 4rem;
        flex: 1 1;

        p {
          font-size: 1.5rem;
          text-align: left;
        }

        span {
        display: flex;
        justify-content: start;

          a {
            display: flex;
            align-items: center;
            padding-left: 1rem;
            padding-top: 1rem;
            font-size: 2rem;
          }

          &:hover {
            a {
              color: black;
            }

            color: black;
            font-weight: 500;
          }
        }
      }
  
      .right {
        flex: 1 1;
        padding-left: 4rem;

        img {
          height: 450px;
          width: 450px;
        }
      }
    }
  }

}