@use "../styles/include-media.scss" as *;

.footer-container {
  width: 100vw;
  background-color: white;
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #008c8c;
  font-size: 1rem;
  font-weight: 500;

  .left {
    display: flex;
    padding-top: 5px;
  }

  .right {
    display: flex;
    align-items: center;

    a {
      padding: 0.5rem;

      img {
        height: 1.7rem;
        width: 1.7rem;
      }
    }
  }

  @include media(">=tablet", ">=desktop") {
    height: 3.3rem;
    justify-content: space-between;
    flex-direction: row;

    .left {
      padding-bottom: 5px;
      padding-left: 1rem;
    }

    .right {
      width: 15%;

      a {
        padding: 1.5rem;
        img {
          height: 1.7rem;
          width: 1.7rem;
          transition: transform .5s;
    
          &:hover {
            -ms-transform: scale(1.5); /* IE 9 */
            -webkit-transform: scale(1.5); /* Safari 3-8 */
            transform: scale(1.5); 
          }
        }
      }
    }
  }

}