@use "../styles/include-media.scss" as *;

.intro {
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: calc(100vh - 100px);
    padding: 2rem;


    @include media(">=tablet", ">=desktop") { 
      padding-left: 5rem;
      text-align: left;

      h1 {
        font-size: 3.5rem;
      }
    }
  }

}