@use "../styles/include-media.scss" as *;

// DESKTOP
.navbar {
  width: 100%;
  height: 100px;
  background-color: white;
  padding-top: 2rem;
}

.wrapper {
  display: flex;
  align-items: center;
  color: black;

  .logoTitle {
    margin-left: 1rem;
    text-decoration: none;
    color: inherit;
    font-size: 1.3rem;
    font-weight: 700;

    @include media(">=tablet", "<smdesktop") { 
      margin-left: 5rem;
      font-size: 2.6rem;
    }

    @include media(">=smdesktop", "<=4k") { 
      margin-left: 5rem;
      font-size: 2.6rem;
    }
  }

  .navLinks {
    ul {
      display: flex;
      margin-right: 5rem;
      list-style: none;

      li {
        align-items: center;
        font-size: 1.2rem;
        padding: 0rem 2.3rem;

        a {
          text-decoration: none;
          color: inherit;

          &::after {
            content: '';
            display: block;
            border-bottom: 3px solid #008c8c; 
            transform: scaleX(0);  
            transition: transform 230ms ease-in-out;
          }
  
          &:hover::after {
            transform: scaleX(1);
          } 
        }
      }
    }
  }

  .menu-icon {
    position: absolute;
    right: 50px;
    z-index: 2;
    top: 4%;
    cursor: pointer;

    @include media(">=tablet", "<smdesktop") {
      right: 70px;
    }
  }


  // MOBILE
  .navbarMobileActive {
    height: 400px;
    width: 100%;
    background-color: #008c8c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    transition: all 0.6s ease-in-out;
    z-index: 1;

    ul {
      list-style: none;
      padding-left: 0;
      li {
        padding: 1.5rem;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }

    @include media (">=tablet", "<smdesktop") {
      height: 600px;
      font-size: 2rem;
      transition: all 0.7s ease-in-out;

      ul {
        li {
          padding: 2.5rem;
        }
      }
    }
  }

  .navbarMobile {
    height: 400px;
    width: 100%;
    background-color: #008c8c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    position: absolute;
    top: 0px;
    left: -100%;
    text-align: center;
    transition: all 0.6s ease-in-out;
    z-index: 1;
    opacity: 0.6;

    ul {
      list-style: none;
      padding-left: 0;
      li {
        padding: 1.5rem;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }

    @include media (">=tablet", "<smdesktop") {
      height: 600px;
      font-size: 2rem;
      transition: all 0.7s ease-in-out;

      ul {
        li {
          padding: 2.5rem;
        }
      }
    }
  }

  @include media(">=desktop", "<=4k") {
    padding-top: 1rem;
    justify-content: space-between;
  }
}
