@use "../styles/include-media.scss" as *;

.projects {
  display: grid;
  grid-template-columns: auto;
  row-gap: 3rem;
  padding: 3rem 0 5rem 0;
  place-items: center;

  .container {
    height: 290px;

    .item {
      width: 340px;
      height: 100%;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;
      transition: opacity 0.8s ease-in-out;
      transition: background-color 0.8s ease-in-out;
      box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);

      img {
        height: 340px;
        width: 340px;
      }

      .contentMobile {
        position: absolute;
        bottom: 0;
        background-color: #008c8c;
        width: 100%;
        height: 45%;
        opacity: 0.95;

        h1 {
          padding-top: 5px;
          text-align: center;
          color: white;
        }

        p {
          display: none;
        }

        .buttons {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          position: absolute;
          padding: 1rem;
          bottom: 5px;

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 145px;
            font-size: 0.7rem;
            padding: 5px 10px;
            color: white;
            background-color: transparent;
            border: 2px solid white;
            border-radius: 20px;
            font-weight: 500;
            text-transform: uppercase;
            cursor: pointer;
          }
        }
      }

    }

    @include media(">=tablet", "<smdesktop") {
      height: 350px;

      .item {
        width: 450px;

        img {
          height: 450px;
          width: 450px;
        }

        .content {
          position: absolute;
          bottom: 0;
          background-color: #008c8c;
          width: 100%;
          height: 35%;
          opacity: 0.95;
  
          h1 {
            padding-top: 5px;
            text-align: center;
            color: white;
          }
  
          p {
            display: none;
          }
  
          .buttons {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            position: absolute;
            padding: 1rem;
            bottom: 5px;
  
            button {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 145px;
              font-size: 0.7rem;
              padding: 5px 10px;
              color: white;
              background-color: transparent;
              border: 2px solid white;
              border-radius: 20px;
              font-weight: 500;
              text-transform: uppercase;
              cursor: pointer;
            }
          }
        }
      }
    }

    @include media(">=smdesktop", "<=4k") {
      height: 350px;

      .item {
        width: 500px;

        img {
          height: 450px;
          width: 450px;
        }

        .content {
          display: none;
        }

        &:hover {
          background-color: #008c8c;
          opacity: 0.8;
  
          .content {
            display: flex;
            flex-direction: column;
            position: absolute;
            align-items: center;
            background-color: #008c8c;
            color: white;
            height: 100%;
            width: 100%;
            opacity: 0.95;
            padding: 0 1.5rem;
  
            h1 {
              margin-top: 45px;
              padding: 1rem;
            }
  
            p {
              text-align: justify;
              line-height: 1.6;
              font-size: 1.1rem;
            }
  
            .buttons {
              width: 100%;
              display: flex;
              justify-content: space-evenly;
              position: absolute;
              padding: 1rem;
              bottom: 10px;
  
              button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 200px;
                font-size: 0.9rem;
                padding: 10px 15px;
                color: white;
                border: 2px solid white;
                border-radius: 10px;
                font-weight: 500;
                text-transform: uppercase;
                cursor: pointer;

                background: linear-gradient(to right, white 34%, #008c8c 65%);
                background-size: 300% 100%;
                background-position: right bottom;
                transition: all .5s ease-out;
  
                &:hover {
                  color: #008c8c;
                  background-position: left bottom;
                }
              }
            }
          }
        }
      }
    }
  }

  @include media(">=desktop", "<=4k") {
    grid-template-columns: auto auto;
  }
}

.title {
  text-align: center;
  padding-top: 1rem;

  h1 {
    font-size: 2.5rem;
    font-weight: 400;
  }

  @include media(">=desktop", "<=4k") {
    h1 {
      font-size: 3.3rem;
      margin-left: 5rem;
      text-align: left;
      padding-bottom: 0.5rem;
    }
  }
}
