@use "../styles/include-media.scss" as *;

.up-arrow {
  .arrow {
    position: fixed;
    height: 3rem;
    width: 3rem;
    right: 5%;
    bottom: 3%;
    z-index: 1;
    background-color: #f6f6f6;
    border-radius: 10px;
    border: 2px solid #008c8c;
    cursor: pointer;

    @include media(">=tablet", "<=4k") {
      height: 3.5rem;
      width: 3.5rem;
      right: 3%;
      bottom: 8%;
    }
  }
}